<!DOCTYPE html>
<html lang="en">
<head>
  <title>NDSG</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="../static/css/styles.css">

  <!-- QR Scanner Library -->
  <!-- <script src="https://unpkg.com/html5-qrcode" type="text/javascript"></script> -->
  
</head>
<body>
  <!-- <header>
    Awesome Title Goes Here
  </header> -->

  <nav>
    <!-- <img src="../static/img/clid-logo.png"> -->
    <img src="../static/img/clid-logo.png" alt="Logo" class="logo">Customizable LGU ID
    <a href="/auth">Authenticate</a>
    <a href="/profile">View Profile</a>
    <a href="/register">Register</a>
    <a href="/claim">Claim</a>
    <a href="/admin">(ADMIN)</a>
  </nav>

  <main id="container">
    <!-- Page content goes here -->
  </main>

  <footer>
    UP Diliman Department of Computer Science NDSG. All rights reserved.
  </footer>

  <script src="../static/js/app.js"></script>

</body>
</html>
