<div class="logo-container">
    <div class="logo">
        <img src="../static/img/labs/acl-logo.png" alt="ACL">
    </div>

    <div class="logo">
        <img src="../static/img/labs/csg-logo.png" alt="CSG">
    </div>

    <div class="logo">
        <img src="../static/img/labs/cvmig-logo.png" alt="CVMIG">
    </div>

    <div class="logo">
        <img src="../static/img/labs/lcl-logo.png" alt="LCL">
    </div>

    <div class="logo">
        <img src="../static/img/labs/ndsg-logo.png" alt="NDSG">
    </div>

    <div class="logo">
        <img src="../static/img/labs/pcl-logo.png" alt="PCL">
    </div>

    <div class="logo">
        <img src="../static/img/labs/s3-logo.png" alt="S3">
    </div>

    <div class="logo">
        <img src="../static/img/labs/scl-logo.png" alt="SCL">
    </div>

    <div class="logo">
        <img src="../static/img/labs/wsg-logo.png" alt="WSG">
    </div>
</div>